doctype html
html 
  head
    title="Hello Pug"
    style
      include pug.css
  body
    h1 hello h1!!!
    p.greeting#people Hello World!!!
    div.container.column.main#division
      | To insert multiline text,
      br
      | You can use the pipe operator.